.container{
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
          ". head  ."
          ". photo   ."
          ". content ."
          ". blank    ."
          ". foot  .";
}